nav {
    display: inline-block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    color: inherit;
    position: relative;
}

nav a::after {
    position: absolute;
    content: '';
    height: 6px;
    width: 0%;
    left: 0;
    top: 110%;
    background-color: #535bf2;
    transition: all 200ms ease-in-out;
}

nav a:hover::after {
    width: 100%;
}