.order-summary {
    padding: 30px 6%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 40%;
    height: fit-content;
}

.order-summary__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.order-summary__category > * {
    margin: 0;
}

.order-summary__category--total {
    padding-top: 20px;
    position: relative;
    border-top: 1px solid lightgrey;
}

.order-summary__btn {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .order-summary {
        width: 100%;
    }
}