.product-card {
    border-radius: 5px;
    background-color: rgb(249, 249, 249, 1);
    padding: 30px;
    position: relative;
  }
  
  .product-card__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 24%;
    aspect-ratio: 1;
  }
  
  .product-card__infos,
  .product-card__add-to-cart-btn {
      position: absolute;
      bottom: 30px;
  }
  
  .product-card__infos {
      left: 30px;
  }
  
  .product-card__info {
    text-transform: capitalize;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 0;
  }
  
  .product-card__add-to-cart-img {
    height: 25px;
    width: 25px;
  }
  
  .product-card__add-to-cart-btn {
    right: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
  }

  .product-card__add-to-cart-img,
  .product-card__img,
  .product-card__info{
    opacity: 0;
    animation: smoothAppear ease-in-out 300ms forwards;
}

@keyframes smoothAppear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}